body {
  background-color: #0e110c;
  font-family: Segoe UI,sans-serif;
}

#userListPanel {
  max-width: 800px;
  margin: auto;
}

#userListPanelHeader {
  margin-top: 10px;
  display: block;
  
/*  background-color: #19222e;*/
  min-height: 120px;
  border-style:solid;
  border-color: #83966c;
  border-width: thick;
  vertical-align: middle;
}
#userListPanelHeader>div {
  display: table;
  margin: auto;
  min-height: 120px;
}

#userListPanelHeader>div>div {
  display:table-cell;
  vertical-align: middle;
  
  font-size: 50px;
  font-weight: 100;
  color: white;
}

.userItem {
  
  margin: 10px 0px 10px 0px;
/*  padding: 10px;*/
  background-color: #19222e;
  min-height: 120px;
  color: #666;
  display: table;
}

.userItem .media {
  padding: 20px 20px 20px 40px;
  margin: auto;
  vertical-align: middle;
  display: table-cell;
}

.userItem .media .media-heading {
  margin: 0px;
  padding: 10px;
}

.userItem .media .media-body p {
  margin: 0px;
  padding: 10px;
}

.userItem .media .media-left {
  margin: auto;
  padding: 0px;
  vertical-align: middle;
}

.userItem .media .media-body {
/*  padding-left: 20px;*/
  margin: 0px;
  padding: 5px;
}

.userItem {
  color: #666;
/*  font-style: italic;*/
  font-weight: 300;
}

.userItem .usernameTitle {
  font-size: 24px;
  font-weight: 200;
}

.userItem .usernameTitle .usernameInfoString {
  font-size: 14px;
  font-weight: normal;
  margin-left: 15px;
}

.userItem .userStreamInfo {
  color: #EEE;
  font-size: 16px;
}

.userItem.userStreamingItem {
  background-color: #83966c;
  text-shadow: 0px 0px 20px black;
  color: white;
  font-style: normal;
  font-weight: 500;
}

a:hover, a:focus .userItem.userStreamingItem {
  text-decoration: none;
}

.userItem.userStreamingItem .usernameTitle {
  font-size: 38px;
}

.userItem.userDoesntExistItem {
  display: block;
}

.userItem.userDoesntExistItem>div {
  display: table;
  margin: auto;
  min-height: 120px;
  float:left;
  padding: 20px;
}

.userItem.userDoesntExistItem>div>div {
  display: table-cell;
  vertical-align: middle;
}

img.twitchUserIcon {
  border-width: 2px;
  border-style: solid;
  
  height: 100px;
  margin: 0px;
}

.userStreamingItem img.twitchUserIcon {
  border-color: white;
}




